<div class="loading-overlay">
  <div class="loading-frames">
    @if (isLoading) {
      <div class="loading-overlay">
        <div class="loading-frames">
          <figure class="loading-frame frame-1">
            <img src="./loading/loading_frame_1.png" alt="loading logo frame 1" />
          </figure>

          <figure class="loading-frame frame-2">
            <img src="./loading/loading_frame_2.png" alt="loading logo frame 2" />
          </figure>

          <figure class="loading-frame frame-3">
            <img src="./loading/loading_frame_3.png" alt="loading logo frame 3" />
          </figure>
        </div>
      </div>
    }
  </div>
</div>

