<VirtualHost *:80>
    Protocols h2 http/1.1
    ServerName ${APACHE_PROD_DOMAIN}
    ServerAlias www.${APACHE_PROD_DOMAIN}

    # Préserver le host et le protocole
    ProxyPreserveHost On

    RemoteIPHeader X-Forwarded-For
    RemoteIPTrustedProxy 127.0.0.1

    # === CORS ===

    LoadModule headers_module modules/mod_headers.so
    LoadModule cspnonce_module modules/mod_cspnonce.so
    LoadModule substitute_module modules/mod_substitute.so

    <IfModule mod_headers.c>
        # Autoriser ton front
        Header always set Access-Control-Allow-Origin "https://${APACHE_PROD_DOMAIN}"
        Header always set Access-Control-Allow-Methods "GET,POST,OPTIONS"
        Header always set Access-Control-Allow-Headers "Content-Type,Authorization"
        Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' 'unsafe-inline' https://fonts.gstatic.com; img-src 'self' https://placehold.co blob: data:; object-src 'none'; media-src 'self'; frame-src 'self'; connect-src 'self' https://${APACHE_PROD_DOMAIN}; frame-ancestors 'none';" env=CSP_NONCE
        Header always set Strict-Transport-Security "max-age=0; includeSubDomains; preload"
   </IfModule>

    RequestHeader set X-CSP-Nonce %{CSP_NONCE}e
    RequestHeader set X-Debug-Nonce "%{CSP_NONCE}e"

    # Gérer les préflight OPTIONS
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.${APACHE_PROD_DOMAIN}$ [NC]
    RewriteRule ^ https://${APACHE_PROD_DOMAIN}%{REQUEST_URI} [R=301,L]

    # SSR Angular (Node)
    ProxyPass        / http://127.0.0.1:${APACHE_PROD_SSR_PORT}/
    ProxyPassReverse / http://127.0.0.1:${APACHE_PROD_SSR_PORT}/

    # Security headers
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "DENY"
    Header always set X-XSS-Protection "1; mode=block"

    ErrorLog ${APACHE_LOG_DIR}/mates_error.log
    CustomLog ${APACHE_LOG_DIR}/mates_access.log combined

    # Redirect HTTP → HTTPS
    RewriteEngine On
RewriteCond %{SERVER_NAME} =www.${APACHE_PROD_DOMAIN} [OR]
RewriteCond %{SERVER_NAME} =${APACHE_PROD_DOMAIN}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
