<VirtualHost *:80>
    ServerName ${APACHE_IMAGES_DOMAIN}

    DocumentRoot ${APACHE_IMAGES_DOCROOT}

    <Directory ${APACHE_IMAGES_DOCROOT}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/cards_error.log
    CustomLog ${APACHE_LOG_DIR}/cards_access.log combined
RewriteEngine on
RewriteCond %{SERVER_NAME} =${APACHE_IMAGES_DOMAIN}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
