<main class="works-page">
  <section class="works-page__section" id="hero">
    <app-works-header></app-works-header>
  </section>

  <section class="works-page__section" id="experiences">
    <app-works-experiences></app-works-experiences>
  </section>

  <section class="works-page__section" id="education">
    <app-works-education></app-works-education>
  </section>

  <section class="works-page__section" id="certifications">
    <app-works-certifications></app-works-certifications>
  </section>
</main>
